{
  "name": "gopher-lego app",
  "server": {
    "port": ":8090",
    "appUrl": "http://www.example.com",
    "domainMain": "example.com"
  },
  "database": {
    "mysql": {
      "dsn": "root:123456@(192.168.0.102:3306)/testdb?charset=utf8mb4&parseTime=True&loc=Local"
    }
  }
}
